<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTER</title>
</head>
<body>
<h3>POST : /board/regist</h3>
<form action="/board/regist" method="post">
    <label>글번호 : </label><input type="number" name="boardCode"><br>
    <label>글제목 : </label><input type="text" name="boardTitle"><br>
    <label>글내용 : </label><input type="text" name="boardContent"><br>
    <label>ID : </label><input type="text" name="boardID"><br>
    <label>PW : </label><input type="text" name="boardPW"><br>
    <button type="submit">POST 게시글 등록</button>
</form>
</body>
</html>

